<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Login<h1>

<form action="/home" method="POST" class="lol">
<label>Password:</label>

<input required type="password" name="pass" class="w">
<label>Name:</label>
<input required type="text" name="name" class="w"> 
<button type="submit" class="b">Submit</button>
<form>
</body>
</html>


