<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" >
	<head>
	<link rel="stylesheet" href="/css/style.css">
	 <title>NAVRBARA</title>
	<link rel="stylesheet" href="/css/forms.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	</head>
	<body>
<header>
<nav class="bg-light">
<li>
<p>Php</p>
<li>  
<a href="/"> Home </a>  
</li>   
<li> <a href="/gpl-3.0.html"><i>Licence</i></a>  
</li>  
</ul>  
</nav>  
</header>



 
		
		<h2>This Website is Just an form</h2>
		<h1>Welcome to PHP!</h1>
		<h1 class="font-italic">Hlelo</h1>`
		<form action="#" method="get">
			<label for="fisrt" >First Name:</label>
			<input type="text" id="fisrt" name="fist" class="form-control" required placeholder="John"> </input>
			<label for="sec">Second Name:</label>
			<input type="text" id="sec" name="sec" class="form-control" required placeholder="Doe"> </input>
			<input type="submit" class="btn" style="background-color: var(--bs-blue)"></input></form>
		<img src="http://localhost/info.jpg" alt="I coped this from localhost" width="50" height="50" >
	

			
			<button class="btn-close" ></button>
			
			
<button type="button" class="btn btn-primary " class="btn btn-link" onclick="loll()">say lol</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning " >Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light" >Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button disabled class="btn btn-dark"><a href="#">ol</a></button>

<button type="button" >Link</button>
		<p id="lol"></p>
		<script src="/js/script.js"></script>
<svg style="color: white !important;" xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block my-1" viewBox="0 0 118 94" role="img"><title>Bootstrap</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg>


	</body>
</html>

